/*
	Template Name: Trade
    Template URL: http://demo.themeregion.com/trade
	Author: Theme Region
	Author URI : http://www.themeregion.com/
    Version: 1.0
    Description: HTML5 Responsive Classifieds Template.
	Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global 
# Header
# Main
# Home One
# Home Two
# Services Ad
# Category
# Details
# Ad Details 
# Published Page
# Signin Page
# Create Account
# Post Page
# Myads Page
# Ad Profile
# Delete Page
# About Us 
# Contact Us
# Footer
# Extra
# Custom Fonts
==================================================

*/

/* ==========================================================================
 	Global
 ========================================================================== */

html,
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
	color:#6f6f6f; 
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:normal;
}

ul {
	margin:0;
	padding:0;
    list-style:none;
}

a {
	font-family: 'Ubuntu', sans-serif;
	color: #00a651;
}

a, 
a:hover,
a:focus,
input:focus {
	text-decoration:none;
	outline: none;
	color:#02743a;
}

img {
	max-width: 100%;
}

section {
  min-width: 100%;
  position: relative;
  width: 100%;
  padding: 50px 0;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus, .form-control:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.form-control:focus {
	border-color: #00a651;
}

.title {
	line-height: 34px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.parallax-section {
	position: relative;
	background-repeat: no-repeat;
 	background-size: cover;
 }

.parallax-section:before {
 	position: absolute;
 	background-color: rgba(35, 174, 121, 0.94);
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	min-height: 264px;
 	display:block;
 	content:"";
 }

.online {
	position: relative;
}

.online:after {
	position: absolute;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: #38b590;
	content: "";
	top: 6px;
} 

.section {
	background-color:#fff;
	border-radius:4px;
	padding:35px 25px;
	margin-bottom:25px;
}

.section-title h4{
	color:#000;
	font-weight: 500;
}

.form-control {
	box-shadow:none;
	-webkit-box-shadow:none;
	border: 1px solid #e3e3e3;
	height:44px;
	color:#000;
}

textarea {
	resize:none;
}

.btn.btn-primary {
	font-size:18px;
	font-weight:400;
	text-transform:capitalize;
	background-color:#00a651;
	padding:10px 40px 12px;
	border:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
	background-color:#0072bc;
	color:#fff;
}

.form-control::-webkit-input-placeholder { 
	color: #000;  
}
.form-control::-moz-placeholder { 
	color: #000;  
}
.form-control:-ms-input-placeholder { 
	color: #000;  
}
.form-control:-moz-placeholder { 
	color: #000;  
}

.navbar-default .navbar-toggle {
	border-color:#00a651;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #00a651;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.page {
	padding-bottom:0;
}

/* ==========================================================================
 	Header
 ========================================================================== */

#header .navbar-default {
    padding: 4px 0;
    background: #fff;
    border: none;
 }

.navbar-brand {
	padding: 12px 15px;
}

.navbar {
	margin: 0;
}

.nav li a,
.navbar-default .navbar-nav>li>a {
	background-color: transparent;
	font-weight: 500;
	font-size: 14px;
	color: #0a0a0a;
	padding: 15px 12px;
	text-transform: uppercase;
}

.nav li a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover, 
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
	background-color: transparent;
	color: #00a651;
}

.dropdown-menu{
	border-radius: 0;
}

.navbar-nav .dropdown-menu>li>a {
	padding: 6px 20px;
	font-size:13px;
}

.dropdown-menu>li>a, 
.dropdown-menu>li>a:hover {
	background-color:transparent;
}

.nav-right {
	margin-top: 4px;
	text-align: right;
}

.language-dropdown {
	display:inline;
	margin-right: 10px;
}

.language-dropdown a {
	font-size: 16px;
	color: #252525;
	line-height: 23px;
}

.language-dropdown a i {
	margin-left: 5px;
}

.language-dropdown a:hover {
	color:#00a651;
}

.language-dropdown li>a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
}

.sign-in {
	display:inline;
}

.sign-in li {
	display:inline-block;
	margin-top: 10px;
}

.language-dropdown i.fa-globe,
.sign-in li i {
	font-size: 14px;
	color: #00a651;
	margin-right: 5px;
}

.sign-in li:last-child {
	position: relative;
	padding-left: 10px;
}

.sign-in li:last-child:before {
	position: absolute;
	left: 0;
	top: 50%;
	background-image: url(../images/1.png);
	background-repeat: no-repeat;
	width: 7px;
	height: 14px;
	content:"";
	margin-top: -7px;
}

.nav-right .dropdown-menu {
    margin: 18px 0 20px;
}
.nav-right .dropdown-menu li a:hover {
	color: #00a651;
	background-color: transparent;
}

.sign-in li a {
	color: #000000;
	font-size: 14px;
}

.sign-in li a:hover {
	color: #00a651;
}

#header a.btn,
.download-button a.btn {
	padding: 5px 25px 7px;
	background-color: #0072bc;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	margin-left: 20px;
}

#header a.btn:hover,
.download-button a.btn:hover {
	background-color: #00a651;
}

.badge {
	background-color: #00a651;
	margin-left: 5px;
	font-size: 10px;
	font-weight: 500;
	padding-bottom: 2px;
}

/* ==========================================================================
 	Main
 ========================================================================== */
#main {
 	background-image: url(../images/bg/main.png);
 	background-repeat: no-repeat;
 	background-position: top center;
 	background-color: #f7f7f7;
}

#main.home-default {
	padding-bottom:0;
}

.banner-section h1.title {
	font-size: 50px;
	line-height: 55px;
}

.banner-section h3 {
	font-size: 22px;
	color: #FEFEFE;
	margin: 15px 0 30px;
	font-weight: 300;
}

.banner-section {
	padding: 15px 0 60px;
}

.banner-form {
	background-color: rgba(0, 0, 0, 0.14);
	padding: 8px;
	max-width: 750px;
	margin: 12px auto;
	border-radius: 5px;
	text-align:left;
}

.banner-form form {
	border: 1px solid #e6e6e6;
	border-radius:4px;
	background-color:#fff;
	position:relative;
}

.home-one .banner-form form {
	border: 0;
}

.category-dropdown {
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    border-radius: 5px 0px 0px 5px; 
    min-width: 200px;
    line-height: 45px;
    text-align: left;
    padding: 0 20px;
}

.category-dropdown a i{
	margin-left: 5px;
}

.category-dropdown a {
    font-size: 16px;
    margin: 0;
    color: #000;
    border: none;
    border-radius: 5px 0 0 5px;
	text-transform: capitalize;
	font-family: 'MyriadPro-Regular', sans-serif;
}

.banner-form input {
	min-width: 375px;
	padding:0 18px 0;
	margin: 0;
	border-radius: 0;
	font-family: 'MyriadPro-Regular', sans-serif;
	border: none;
	margin-left: -4px;
}

.banner-form .form-control, 
.banner-form .category-dropdown {	
	display:inline-block;
	width:30%;
	height:46px;
	font-size:16px;
}

.banner-form button.form-control {
	position:absolute;
	right:-2px;
	bottom:-1px;
	max-width: 114px;
	background-color: #00a651;
	border-radius: 0 5px 5px 0 ;
	color: #fff;
	text-transform: uppercase;
	border-color:#00a651;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height:49px;
}

.banner-form button:hover {
	background-color: #0072bc;
	border-color: #0072bc;
}

.banner-socail li {
	display: inline-block;;
}

.banner-socail li a {
	color: #fff;
    font-size: 20px;
    background-color:transparent;
    display: block;
    height: 35px;
    width: 35px;
    line-height: 35px;
	border:1px solid transparent;
	border-radius:3px;
}

.banner-socail li i{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.banner-socail li a:hover .fa-facebook {
	color: #405D9B;
}

.banner-socail li a:hover .fa-twitter {
	color: #29C5F6;
}

.banner-socail li a:hover .fa-google-plus {
	color: #CA3E27;
}

.banner-socail li a:hover .fa-youtube {
	color: #EB2429;
}

.category-ad {
	background-color: #fff;
	display: inline-block;
	padding:40px 0px 10px;
	border-radius: 3px;
}

.category-list .category-item {
	width:25%;
	float:left;
	margin-bottom:30px;
}

.category a {
	color: #505050;
	display:block;
}

.banner-form .dropdown-menu {
	min-width:100%;
	padding:15px 0;
}

.category-icon {
	min-height: 37px;
	width: 100%;	
}

.category-icon img {
	margin: 0 auto;
}

.category-title {
	color:#505050;
}
.category-quantity {
	color: #b5b5b5;
} 

.category-title {
	display:block;
	font-size: 16px;
}

.category-item:hover .category-quantity,
.category-item:hover .category-title {
	color :#00a651;
}

.featureds {
	background-color: #fff;
	padding: 15px 30px 0;
	overflow: hidden;
	border-radius: 4px;
}

.featured-top,
.browse-categories .section-title {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 20px;
    padding-bottom: 5px;
}

.featured-slider {
	margin-right:-15px;
}

.featured {
	border:1px solid #f6f6f6;
	margin-right:15px;
	margin-bottom:30px;
}

.featured .ad-meta {
	position:inherit;
	width:100%;
}

.featured-image{
	position:relative;
}

.ad-section {
	margin: 40px 0;
}

#ad-post .ad-section {
	margin-bottom:20px;
}

.ad-info {
	padding:20px 25px;
}

.ad-info .item-price {
	margin-top:0;
	margin-bottom:5px;
	font-size:20px;
	font-weight:500;
}

.ad-info .item-title {
	font-size:18px;
	margin-top:0;
	margin-bottom:5px;
}

.ad-info .item-title a {
	color:#000;
}

.ad-info .item-cat {
	font-size:14px;
	color:#a0a0a0;
}

.ad-info .item-cat a{
	color:#a0a0a0;
}

.featureds  .ad-info {
	min-height: 140px;
}

.ad-info .item-title a:hover {
	text-decoration: underline;
}

.ad-info .item-cat a:hover, 
.ad-info .item-price {
	color: #00a651;
}

.ad-meta {
	background-color: #f6f6f6;
    border-top: 1px solid #eeeeee;
    min-height: 35px;
    position: absolute;
    bottom: 0;
	right:-1px;
	width:100%;
	padding-left:25px;
	display:table;
	font-size:14px;
}

.ad-meta .meta-content {
	display:table-cell;
	vertical-align:middle;
}

.ad-meta .meta-content .dated {
	margin-right:20px;
}

.ad-meta .meta-content .dated, 
.ad-meta .meta-content .visitors {
	font-weight:500;
	color:#9fa4a4;
}

.ad-meta .meta-content span, 
.ad-meta .meta-content a {
	font-weight:400;
	color: #9fa4a4;
}

.ad-meta .meta-content a:hover {
	color: #00a651;
}

.ad-meta .user-option a{
	font-size: 18px;
	color: #9fa4a4;
	display:inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.featured .ad-meta .user-option a {
	width:30px;
}

.ad-meta .user-option a:hover {
	background-color:#fff;
	color: #00a651;
}

.ad-meta .user-option a.edit-item:hover {
	color:#0072bc;
}

.ad-meta .user-option a.delete-item {
	color:#ed1c24;
}

.ad-meta .user-option a.delete-item:hover {
	color:#c3171d;
}

.featured .ad-meta span a {
	margin-top: 7px;
}

.ad-meta a i {
	text-align: right
}

a.verified {
	position: absolute;
	top: 0;
	right: 0;
}

a.verified i {
	height: 20px;
	width: 20px;
	background-color: #00a651;
	color: #fff;
	line-height: 25px;
	text-align: center;
}

.featured-image a i:before {
	z-index: 9999;
    position: relative;	
}

.featured-image a i:after {
	position: absolute;
	border-right: 40px solid #00a651;
	border-bottom: 40px solid transparent;
	border-left: 40px solid transparent;
	top: 0px;
	right: 0;
	content:"";
}

.featured-ad {
	position: absolute;
	top: 15px;
	left: -30px;
	padding: 5px 15px;
	color: #fff;
	background-color: #ff740d;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 120px;
	text-align: center;
	border: 1px dotted #ddd;
	text-transform: uppercase;
	font-size: 11px;
}

.category-page .banner-form-full {
	margin-bottom:25px;
	margin-top: 30px;
}

/* slider */
.featured-slider .col-sm-4 {
	width: 100%;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
	position: absolute;
	top: -60px;
	font-size:24px;
	color:#d2d2d2;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
	color:#00a651;
}

.owl-carousel .owl-next {
	right:15px;
}

.owl-carousel .owl-prev {
	right:55px;
}

.owl-carousel .owl-prev:before {
    position: absolute;
    content: "";
    top: 10px;
    right: 50%;
	margin-right:-20px;
    width: 1px;
    height: 16px;
    background-color: #f2f2f2;
}

.ad-section img {
	display: inline;
}

/*ads-info*/
.item-image {
	position:relative;
}

.item-image img {
	width:100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.ad-item:hover .item-image img {
-moz-transform: scale(1.05) rotate(2deg);
-webkit-transform: scale(1.05) rotate(2deg);
-o-transform: scale(1.05) rotate(2deg);
-ms-transform: scale(1.05) rotate(2deg);
transform: scale(1.05) rotate(2deg);
}

.ad-item {
	border: 1px solid #f3f3f3;
	margin: 18px 0;
	min-height: 152px;
	border-radius:2px;
	max-height:152px;
}

.item-image-box, .item-info {
	padding: 0;
    margin: 0;
    position: relative;
}

.item-info {
	min-height:152px;
}

.item-image-box {
	max-height:152px;
	overflow:hidden;
}

.trending-ads {
	margin-bottom: 15px;
	background-color: #fff;
	padding: 15px 30px;
}

.ad-item .ad-info {
	overflow:hidden;
}

.ad-item .ad-info span+a {
	color: #9fa4a4;
	font-size: 14px;
	line-height: 16px;
}

.ad-item .ad-info span, 
.featured .ad-info span{
	color: #a0a0a0;
	font-size: 14px;
	line-height: 17px;
}

.tab-manu {
	overflow:hidden;
	border-bottom: 1px solid #f2f2f2
}

.tab-manu h4 {
	float:left;
	margin-bottom: 14px;
}

.tab-manu .nav-tabs {
	float:right;
	border: none;
	border: 1px solid transparent;
}

.tab-manu .nav-tabs li a {
	padding:12px 15px;
	border-bottom:0;
	text-transform:capitalize;
	color:#9c9c9c;
}

.tab-manu .nav-tabs li a:hover,
.tab-manu .nav-tabs li.active a {
	border:1px solid #f2f2f2;
	background-color: #fcfcfc;
	border-bottom: #f2f2f2;
	border-radius: 0;
	color: #00a651;
}

.my-ads .ad-meta .pending {
	color:#f7941d;
}

/* Cta */
.cta {
	background-color: #fff;
	display:inline-block;
	color: #a0a0a0;
	line-height: 17px;
	padding: 41px 0 29px;
	margin-top: 9px;
	width: 100%;
	border-radius: 4px;
}

.cta-icon {
	min-height: 56px;
}

.cta-icon img {
	margin: 0 auto;
}

.cta h4 {
	color: #000;
	font-weight: 500;
	margin: 28px 0 10px;
}

 /* Download */
#download {
	background-image: url(../images/bg/1.jpg);
	padding: 55px 0 90px;
}

#download > .parallax-section:before {
 	min-height: 400px
}

#download h2 {
  	color:#fff;
  	font-size: 26px;
  	font-weight: 300;
  	margin-bottom: 50px;
}

.download-app {
 	border: 1px solid #fff;
    padding: 10px 40px;
    color: #ffffff;
    display: block;
    overflow: hidden;
    min-height: 75px;
 }

.download-app img {
	float: left;
	margin-top: 5px;
	margin-right: 15px;
}

.download-app span {
 	font-size: 16px;
 	line-height: 22px;
 	font-weight: 300;
}

.download-app strong {
 	font-size: 25px;
 	display:block;
 	font-weight: 400;
}

.download-app:hover, 
.download-app:focus {
 	background-color: rgba(0, 0, 0, 0.1);
 	color:#fff;
}

 /* ==========================================================================
 	Home One
 ========================================================================== */

#home-one-info {
	background-color: #f7f7f7;
	padding:30px 0 70px;
}

.home-one .category {
	margin-bottom: 6px;
}

.featured-slider-two .col-sm-3 {
	width: 100%;
}

.home-one .parallax-section:before {
	background: -moz-linear-gradient(45deg,  rgba(20,169,152,0.9) 0%, rgba(20,169,152,0.9) 42%, rgba(27,171,137,0.9) 54%, rgba(45,177,101,0.9) 74%, rgba(52,179,86,0.9) 84%, rgba(55,180,80,0.9) 90%, rgba(55,180,80,1) 100%); 
	background: -webkit-linear-gradient(45deg,  rgba(20,169,152,0.9) 0%,rgba(20,169,152,0.9) 42%,rgba(27,171,137,0.9) 54%,rgba(45,177,101,0.9) 74%,rgba(52,179,86,0.9) 84%,rgba(55,180,80,0.9) 90%,rgba(55,180,80,0.9) 100%);
	background: linear-gradient(45deg,  rgba(20,169,152,0.9) 0%,rgba(20,169,152,0.9) 42%,rgba(27,171,137,0.9) 54%,rgba(45,177,101,0.9) 74%,rgba(52,179,86,0.9) 84%,rgba(55,180,80,0.9) 90%,rgba(55,180,80,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14a998', endColorstr='#37b450',GradientType=1 );
}

#download.parallax-section:before {
	background: -moz-linear-gradient(left,  rgba(55,180,78,0.9) 0%, rgba(49,178,91,0.9) 24%, rgba(27,171,137,0.96) 77%, rgba(21,169,151,0.94) 100%); 
	background: -webkit-linear-gradient(left,  rgba(55,180,78,0.9) 0%,rgba(49,178,91,0.9) 24%,rgba(27,171,137,0.96) 77%,rgba(21,169,151,0.94) 100%);
	background: linear-gradient(to right,  rgba(55,180,78,0.9) 0%,rgba(49,178,91,0.9) 24%,rgba(27,171,137,0.96) 77%,rgba(21,169,151,0.94) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b44e', endColorstr='#f015a997',GradientType=1 ); 
}

#banner-two {
	background-image: url(../images/bg/2.jpg);
	padding: 70px 0;
	margin-bottom: 50px;
}

.banner h1.title {
	font-size: 51px;
}

.banner h3 {
	font-size: 22px;
	font-weight: 300;
	color: #fff;
 	margin: 27px 0 32px;	
}

.home-one .banner-form {
	border-radius: 10px;
}

.home-one .banner-form input[type="text"] {
	max-width: 402px;
}

.home-one .banner-form input[type="submit"] {
	background-color: #005821;
}

.home-one .banner-form input[type="submit"]:hover {
	background-color: #0072bc;
	color: #fff;
}

.home-one .trending-ads {
   margin-bottom: 20px;
}

 /* ==========================================================================
 	Home Two
 ========================================================================== */

#main.home-two {
	padding-top:0;
	padding-bottom:35px;
}

#road_map {	
    height: 550px;
	position: relative;
	border: 0;
}

.home-two .banner-form input[type="text"] {
	margin-left: -13px;
	max-width: 544px;
	border-right: 0;
}

.home-two .banner-form input[type="submit"] {
	margin-left: -2px;
	font-size: 16px;
}

.home-two .language-dropdown {
	border-radius: 0;
	margin-left: -3px;
}

/* .home-two .banner-form {
	background-color: #fff;
	padding: 15px 20px 15px;
	margin-bottom:30px;
}
 */
.home-two .featured img {
	width: 100%;
}

.home-two .featured {
	margin-right: 0;
}

.home-two .category-list .category-item, 
.home-one .category-list .category-item {
	width:16.66%;
	padding:15px;
	margin-bottom:25px;
}

.home-two .featureds {
	margin-top: 30px;
	border-radius: 4px;
}

.home-one .featureds .featured-top h4, 
.home-two .featureds .featured-top h4, 
.home-three .featureds .featured-top h4 {
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.home-one .ad-info .item-title a, 
.home-two .ad-info .item-title a, 
.home-three .ad-info .item-title a {
	text-decoration:underline;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.home-one .ad-info .item-title a:hover, 
.home-two .ad-info .item-title a:hover, 
.home-three .ad-info .item-title a:hover {
	text-decoration:none;
}

.home-two .featureds .pagination {
	margin-bottom:50px;
}

.single-cta {
	padding:0 25px;
}

 /* ==========================================================================
 	Services Ad
 ========================================================================== */
#services-ad {
	background-color: #f7f7f7;
	padding:0 0 82px;
}

#home-section {
	background-image: url(../images/bg/2.jpg);
	padding: 70px 0 90px;
	color:#fff;
}

#home-section.parallax-section:before {
	background-color: rgba(37, 34, 34, 0.8);
}

#home-section h1 {
	color: #00a651;
	margin: 65px 0 0;
}

#home-section h2 {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	margin: 4px 0 30px;
}

#home-section .btn {
	margin-right: 15px;
	margin-top:20px;
}

#services-ad .language-dropdown {
	border-radius: 0;
	border-right: 0;
}

.directory.page .banner-form-full .language-dropdown {
	margin-left: -3px;
}

#services-ad .category-dropdown {
	border-right: 1px solid #e8e8e8;
}

#services-ad .banner-form input[type="text"] {
	margin-left: -13px;
	max-width: 544px;
	border-right: 0;
}

#services-ad .banner-form input[type="submit"] {
	margin-left: -2px;
	font-size: 16px;
}

#services-ad .banner-form input {
	margin: 0;
}

#services-ad .banner-form {
	background-color: #fff;
	padding: 15px 20px 13px;
	margin-top: -50px;
}

#services-ad .banner {
    padding: 13px 0 18px;
}

.services {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 40px;
	overflow: hidden;
	border-radius: 4px;
}

.single-service {
	display:inline-block;
	width: 19.6%;
	padding:15px;
	margin-bottom:25px;
}

.services-icon {
	min-height: 30px;
}

.single-service h5 {
	font-size: 16px;
	color: #505050;
	font-weight: 500;
	margin-bottom: 13px;
}

.single-service li {
	margin-bottom: 5px;
}

.single-service li a {
	color: #b5b5b5;
}

.single-service li a:hover {
	color: #00a651;
}


#services-ad .featured {
	margin-bottom: 32px;
	margin-right: 0;
}

#services-ad .featured img {
	width: 100%;
}

#services-ad .featureds h4 {
	padding-bottom: 5px;
}

#services-ad .pagination {
    margin-bottom:50px;
}

#home-section img {
	display: inline;
}

 /* ==========================================================================
 	Category
 ========================================================================== */

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
}

.breadcrumb li,
.breadcrumb li a {
	color: #fff;
	font-weight: 300;
}

.breadcrumb>li+li:before {
	content: "\f101";
	font-family: FontAwesome;
	color: #fff;
}

#something-sell h2.title {
	font-weight: 400;
	font-size: 36px;
	margin-bottom: 14px;
}

.recommended-ads {
    margin-bottom:0;
}

.recommended-ads h4 {
	font-weight: 500;
	color: #000;
	margin: 20px 0;
	display:inline;
}

.recommended-ads h5 {
	display:inline;
	margin-right: 9px;
}

.recommended-ads .featured-top {
	padding-bottom: 13px;
}

.recommended-ads .category-dropdown {
    background-color: #fff;
    border-radius:0;
    border:0;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    min-width: inherit;
    text-align: center;	
    padding: 0;
}

.recommended-ads .change-text {
	color: #010101;
	font-weight: 500;
}

.recommended-ads .change-text+i {
	color: #010101;
}

.recommended-ads .advertisement-daily {
	padding: 13px 0 14px;
}

.recommended-cta .cta {
	background: #FFF;
 	padding: 25px 0;
 	margin-bottom: 20px;
 	margin-top: 0;
 	border-radius: 3px;
 }

.recommended-cta .single-cta {
	padding: 25px 20px;
}

.recommended-cta .single-cta h5 {
	color: #000;
	font-weight: 400;
	margin-top: 0;
}

.recommended-cta .single-cta a {
	color:#a0a0a0;
}

.recommended-cta .single-cta a:hover {
	color: #00a651;
}

#something-sell h4 {
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	line-height: 28px;
}

#something-sell .btn.btn-primary {
	margin-top: 15px;
	border:1px solid #00a651;
}

#something-sell a.btn:hover {
	background-color: transparent;
	border: 1px solid #00a651;
}

/* Accordion */
.accordion a h4 {
	color: #000000;
	font-weight: 500;
	margin: 3px 0;
}

#accordion .panel-default {
	margin-bottom: 20px;
}

#accordion .panel-default>.panel-heading {
	background-color: #ededed;
	border: none;
}

#accordion .panel-body {
	padding:20px 25px;
	background-color:#fff;
}

#accordion .panel-body h5 {
	font-size: 16px;
	color: #000;
	margin-top: 0;
}

#accordion .panel-body h5 i {
	color: #00a651;
}

#accordion .panel-body a {
	color: #000000;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
}

#accordion .panel-body .posted-by {
	margin:0;
}

#accordion .panel-body ul li a {
	font-weight: 400;
	line-height: 30px;
	font-size: 14px;
}

#accordion .panel-body a:hover, 
#accordion .panel-body a:hover i {
	color: #00a651;
}

#accordion .panel-body ul li a span {
	color: #9e9e9e;
	margin-left:5px;
}

#accordion .panel-body a i {
	font-size:18px;
	color: #8E8B8B;
	margin-right:10px;
}

#accordion input[type="text"] {
	margin: 8px 0 16px;
}

#accordion .panel-body label {
    position: relative;
    padding-left: 25px;
    display: block;
    color: #000000;
    font-weight: 400;
    margin-bottom: 6px;
}

#accordion .panel-body label input[type="checkbox"] {
	width: 0;
	height: 0;
	display: none;
}

#accordion .panel-body label:before, 
.checkbox label:before {
	position: absolute;
	color: #9e9e9e;
	font-size: 16px;
	content: "\f096";
	font-family:'FontAwesome';
	left: 0;
	top: 0;
}

#accordion .panel-body label.checked:before, 
.checkbox label.checked:before {
	content: "\f046";
	color: #00a651;
}

#accordion span.border {
	border-bottom: 1px dashed #d1d1d1;
	display: block;
	margin: 10px;
}

#accordion a.see-more {
	color: #a0a0a0;
}

#accordion a.see-more:hover {
	color: #00a651;
}

#accordion .panel-body .category-change li a {
	line-height:20px;
	font-size:14px;
}

#accordion .panel-body .category-dropdown a, #accordion .panel-body .category-dropdown a i{
	font-size:14px;
	line-height:20px;
}

#accordion .panel-body .category-change {
	min-width:70px;
}

/* Pagination */
.pagination {
	margin-top: 25px;
	margin-bottom:10px;
}

.pagination>li>a {
	color: #9a9a9a;
	font-size: 14px;
	font-weight: 700;
	background-color: #e7e8e9;
	margin: 3px;
	border: 1px solid #e2e3e3;
	border-radius: 5px;
}

.pagination>li>a:hover,
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover {
	color: #fff;
	background-color: #00a651;
	border: 1px solid #008c44;
}

.pagination>li:nth-child(7) a,
.pagination>li:nth-child(7) a:hover {
	background-color: transparent;
	border: none;
	color: #9a9a99;
}

.pagination>li:nth-child(7) a{
	padding: 4px 9px;
	line-height: 25px;
}


/* something-sell */
#something-sell {
	background-image: url(../images/bg/1.jpg);
	padding: 40px 0 60px;
}

#something-sell.parallax-section:before {
	background-color: rgba(0, 114, 188, 0.92);
}

 /* ==========================================================================
 	Details
 ========================================================================== */

#main.details-page{
	padding-bottom:50px;
}

.details-page .banner {
	padding: 0;
}

.details-page .banner-form-full {
	margin-top: 30px;
}

.banner-form-full {
	max-width: 100%;
	background-color: #fff;
	padding: 15px 20px 15px;
	margin-bottom:30px;	
	margin-top: -40px;
}

.banner-form-full.banner-form .form-control, 
.banner-form-full.banner-form .category-dropdown {
	width:20%;
}

.banner-form-full.banner-form input {
	min-width:448px;
}

.home-two .banner-form-full.banner-form input, 
.home-three .banner-form-full.banner-form input {
	min-width:434px;
}

.category-page .language-dropdown,
.details-page .language-dropdown {
	margin: 0;
	border-radius: 0;
	border-left: 1px solid #e6e6e6;
	margin-left: -4px;
	padding: 0 0 0 17px;
}

.details-page .banner-form input {
	max-width: 572px;
}

.details-page .banner-form input[type="submit"] {
	max-width: 114px;
}

.banner-form-full.banner-form input::-webkit-input-placeholder {
   color: #a4a4a4;
}

.banner-form-full.banner-form input:-moz-placeholder { /* Firefox 18- */
   color: #a4a4a4;  
}

.banner-form-full.banner-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #a4a4a4;  
}

.banner-form-full.banner-form input:-ms-input-placeholder {  
   color: #a4a4a4;  
}

.slider {
	background-color: #fff;
	display: inline-block;
	padding: 33px 30px 51px;
	border-radius: 4px;
	width: 100%;
}

.carousel-indicators {
	position:absolute;
	width: 100%;
	left: 0;
	bottom: -129px;
	margin-left: 0;
	border:none;
	text-align: left;
}

.featured-img {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
}

.price-range .category-dropdown {
    border-right: 0;
    min-width: inherit;
    line-height: inherit;
    padding: 0;
    height: 0;
}

.price-range .category-dropdown a {
	font-weight: 700;
}

.price-range .dropdown-menu {
	margin-top: 25px;
	min-width: 110px;
}

#product-carousel .carousel-indicators {
	bottom:-140px;
}

#product-carousel .carousel-indicators li,
#product-carousel .carousel-indicators li.active {
	height: 105px;
	width: 107px;
	text-indent: inherit;
	border: none !important;
	border-radius: 0;
	margin: 0;
	margin-left:17px;
}

#product-carousel .carousel-indicators li:first-child{
	margin-left: 0 !important;
}

#product-carousel .carousel-indicators li img {
	overflow:hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity:0.7;
}

#product-carousel .carousel-indicators li img:hover, 
#product-carousel .carousel-indicators li.active img {
	opacity:1;
}

#product-carousel .carousel-control {
	background: none !important;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	font-size: 50px;
	line-height:50px;
}

#product-carousel .carousel-control.left {
	left: 0px;
}

#product-carousel .carousel-control.right {
	right: 0px;
}

#product-carousel .carousel-control {
	opacity:0;
}

#product-carousel:hover .carousel-control {
	opacity:1;
}

.slider-text h2 {
	color: #00a651;
	font-size: 36px;
	font-weight: 500;
	margin: 0;
}

#main .slider-text h3.title {
	font-size: 36px;
	font-weight: 400;
	color: #000;
	margin: 11px 0 8px;
}

.slider-text h4 {
	font-weight: 500;
	color:#272727;
	margin-bottom: 19px;
}

.slider-text span {
	color: #9fa4a4;
	font-size: 14px;
}

.slider-text span a {
	font-weight: 500;
	color: #000;
	margin-right:10px;
}

.slider-text span a.time {
	color: #4a4b4b;
	font-weight: 400;
}

.slider-text span i {
	margin-right: 10px;
}

.slider-text span.icon {
	display:inline-block;
	margin: 11px 0 16px;
}

.slider-text i.online:after {
	top:-2px;
}

.short-info a,
.slider-text span.icon a {
	color:#9fa4a4;
	font-weight: 400;
}

.slider-text span.icon a strong {
	font-weight: 400;
	color: #00a651;
}

.short-info h4 {
	margin-bottom: 12px;
}

.short-info strong {
	color:#272727;
	margin-right:5px;
}

.short-info a {
	color: #272727;
}

.contact-with h4 {
	margin-top: 32px;
}

.contact-with .btn {
	background-color: #0d79bf;
	color: #fff;
	margin-right: 17px;
	border: 1px solid transparent;
	margin-bottom: 17px;
}

.contact-with .btn-red {
	background-color: #f36d2d;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-with .btn i {
	font-size: 22px;
	vertical-align: top;
	margin-right: 10px;
}

.contact-with a.btn:hover {
	color: #0d79bf;
	background-color: transparent;
	border: 1px solid #0d79bf;
}

.contact-with .btn-red:hover {
	color: #f36d2d;
	background-color: transparent;
	border: 1px solid #f36d2d;
}

.social-links li a {
	font-size: 20px;
}

.social-links li {
	margin-right: 10px;
}

.social-links li:last-child {
	margin-right:0;
}

.social-links li a i.fa-facebook-square {
	color: #0d79bf;
}

.social-links li a i.fa-twitter-square {
	color: #0db2f0;
}

.social-links li a i.fa-google-plus-square {
	color: #ec4d53;
}

.social-links li a i.fa-linkedin-square {
	color: #4e92ce;
}

.social-links li a i.fa-pinterest-square {
	color: #ed1c24;
}

.social-links li a i.fa-tumblr-square {
	color: #0054a6;
}

.slider-text span a:hover,
.slider-text a:hover {
	color:#00a651;
}

.hide-number, .show-number .hide {
	display:none;
}

.show-number .show {
	display: inline-block !important;
}

.slider-text .show-number span {
	color:#fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.slider-text .show-number span:hover, 
.slider-text .show-number:hover span, 
.contact-with .show-number .btn-red:hover{
	color:#f36d2d;
}

/*Description*/
.description {
	background-color: #fff;
	color: #272727;
	line-height: 22px;
	margin-bottom: 25px;
	border-radius: 3px;
	padding: 20px 35px 35px;
	font-family: 'Devanagari-Regular', sans-serif;
}

.description h4,
.short-info h4 {
	font-weight: 500;
	color: #272727;
	margin-bottom: 18px;
}

.description h4 {
	margin-bottom: 20px;
}

.short-info {
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 20px;
}

.description-info .short-info {
	padding:20px 30px 25px;
}

.short-info li {
	margin-bottom: 20px;
}

.short-info li i {
	font-size: 18px;
	color: #000;
	margin-right: 28px;
}

.short-info li a {
	font-size: 16px;
	color: #707070;
}

.short-info li a:hover {
	color: #00a651;
}

.short-info li a span {
	color: #00a651;
	font-weight: 400;
}

.details-page .recommended-ads {
	padding-top: 20px;
} 

 /* ======================================================================
 	Ad Details 
 =========================================================================*/
.adpost-details h4 {
	border-bottom: 1px solid #f2f2f2;
	color:#000;
	font-size:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	margin-top:0;
 }
 
 .adpost-details .seller-info h4 {
	 margin-bottom:35px;
 }
 
.adpost-details .form-group {
	position:relative;
	margin-bottom:40px;
 }
 
.postdetails h4 span{
	font-size: 14px;
	color: #ed1c24;
	line-height:26px;
 }
 
.postdetails  li a {
	color: #838383;
	font-size:16px;
}

.postdetails  li a:hover, 
.postdetails  li.active a, 
.postdetails  .edit:hover {
	color: #00a651;
}

.selected-product {
	border-bottom: 1px solid #f2f2f2;
	padding: 10px 0 20px;
}

.selected-product .select-category li {
	position:relative;
	padding-right:20px;
	margin-right:20px;
}

.selected-product .select-category li:before {
    top: -8px;
    right: -10px;
    opacity: 1;
}

.selected-product .select-category li.active:before {
	opacity:0;
}

.selected-product .select-category span.select {
    margin-right: 15px;
}

.selected-product  .edit {
	color: #0072bc;
	position: absolute;
	right: 0;
	top: 14px;
}
.selected-product  .edit i {
	margin-right:8px;
}

.adpost-details label {
	font-size: 16px;
	font-weight:400;
	color:#000;
}

.adpost-details label.label-title {
	padding-top:10px;
}

.adpost-details input[type="radio"]+label {
	cursor: pointer;
	margin-right:20px;
	padding-left:25px;
	vertical-align:sub !important;
	position:relative;
	color:#838383;
	margin-bottom:0;
}

.adpost-details input[type="radio"] {
	display:none;
}

.adpost-details input[type="radio"] + label:before,
.adpost-details input[type="radio"] + label:after {
	position:absolute;
	top:5px;
	left:0;
	content:"";
	width:14px;
	height:14px;
	border-radius:50%;
	display:inline-block;
	background-color:transparent;
}

.adpost-details input[type="radio"] + label:before {
	border: 2px solid #00a651;
}

.adpost-details input[type="radio"]:checked + label:after {
	border: 5px solid #00a651;
}

.required {
	color: #ed1c24;
}

.adpost-details .form-control::-webkit-input-placeholder { 
	color: #cfcfcf;  
}
.adpost-details .form-control::-moz-placeholder { 
	color: #cfcfcf;  
}
.adpost-details .form-control:-ms-input-placeholder { 
	color: #cfcfcf;  
}
.adpost-details .form-control:-moz-placeholder { 
	color: #cfcfcf;  
}

.upload-section {
	overflow:hidden;
}

.add-image h5 {
	color: #000;
	font-size: 16px;
	position: relative;
	padding-left: 50px;
	line-height: 20px;
	margin-bottom: 25px;
	overflow: hidden;
}

.add-image h5 span {
	font-size: 14px;
	display:block;
	font-weight:300;
	color:#838383;
}

.add-image .fa-upload {
	position:absolute;
	left:0;
	top:3px;
	font-size: 36px;
	color: #00a651;
}

.add-image label.upload-image {
    width: 20%;
    height: 75px;
    border: 1px solid #e3e3e3;	
    border-radius: 4px;
    position: relative;
	margin-bottom:0;
    margin-left: 20px;
	cursor:pointer;
}

.add-image label.upload-image:first-child {
	margin-left:0;
}

.add-image label.upload-image:before {
	position: absolute;
	content: "\f055";
	font-family:'FontAwesome';
	top: 50%;
	left: 50%;
	font-size: 30px;
	color: #c2c2c2;	
	cursor:pointer;
	margin-top: -14px;
	margin-left: -14px;
	line-height: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.add-image label.upload-image:hover:before {
	color:#00a651;
}

.add-image label.upload-image input {
    display: none;
}

.select-price input[type="text"] {
	display:inline-block;
	width:initial;
	margin:0 15px;
}

.postdetails .select-price {
	margin-bottom:40px;
}

.checkbox label input[type="checkbox"] {
	width: 0;
	height: 0;
	display: none;
}

.checkbox label {
    position: relative;
    padding-left: 22px;
    color: #000000;
    font-weight: 400;
    margin-right:35px;
	margin-bottom:10px;
}

.checkbox label:last-child {
	margin-right:0;
}

.postdetails .model-name {
	margin-bottom:45px;
}
.postdetails .item-description {
	margin-bottom:15px;
}

.adpost-details .premium-options {
	margin-top:30px;
	max-width:360px;
}

.adpost-details .premium-options li {
	margin-bottom:25px;
	color:#000;
}

.adpost-details .premium-options li span {
	float:right;
}

.adpost-details .premium-options input[type="radio"]+label {
	color:#000;
}


.adpost-details .agreement  label {
	line-height:28px;
	color:#494949;
	margin-bottom:40px;
}

.agreement.checkbox label:before {
	top:8px;
}

.adpost-details .agreement label a, 
.quick-rules .lead a {
	font-weight:500;
	color:#000;
}

.adpost-details .agreement label a:hover, 
.quick-rules .lead a:hover {
	color:#00a651;

}


.quick-rules .lead {
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	margin: 16px 0 35px;
}

.quick-rules .lead a {
	font-weight: 400;
}

.quick-rules li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 20px;
}

.quick-rules li:before {
	position: absolute;
	color: #00a651;
	font-size: 16px;
	content: "\f105";
	font-family:'FontAwesome';
	left: 0;
	top: 0;	
}

 

 /* ==========================================================================
 	Published Page
 ========================================================================== */

#main.published-page {
	padding: 64px 0 79px;
}

.congratulations {
	background-color: #fff;
	padding:100px;
	padding-bottom:115px;
	border-radius: 4px;
}

.congratulations i {
	font-size: 72px;
	color: #00a651;
	margin-bottom: 18px;
}

.congratulations h2 {
	font-weight: 700;
	color: #00a651;
	margin: 0 0 4px;
}

.congratulations h4 {
	color: #b0b0b0;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

 /* ==========================================================================
 	User Page login / Sign up
 ========================================================================== */

#main.user-page {
	padding: 60px 0 80px;
}

.user-account {
	background-color: #fff;
	border-radius: 4px;
	padding: 40px 50px;
}

.user-account h2 {
	color: #00a651;
	font-weight: 700;
	margin-bottom: 55px;
}

.user-account input {
	height: 44px;
	margin-bottom: 30px;
	font-size: 16px;
}

.user-account .btn {
	background-color: #00a651;
	color: #fff;
	padding: 5px 32px 7px;
	margin-top: 10px;	
}

.user-account select {
	height: 44px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #000;
}

.user-account .checkbox label, .forgot-password a{
	color:#b9b9b9;
}

.user-account .checkbox label:hover, .forgot-password a:hover {
	color:#00a651;
}
.user-account .user-option {
	overflow:hidden;
	margin-top:55px;
}

.user-option .forgot-password {
	margin-top:10px;
}

.user-page .btn-primary {
	padding:15px 30px;
	display:block;
	font-size:18px;
	border-radius:4px;
	margin-top:25px;
	background-color:#0072bc;
}

.user-page .btn-primary:hover {
	background-color:#00a651;
}
 /* ==========================================================================
 	Post Page
 ========================================================================== */

.post-option {
	background-color: #fff;
	border-radius: 4px;
	padding:25px;
}

.post-option h4 {
	font-size: 20px;
	color: #010101;
	margin-bottom: 20px;
}

.post-option li {
	border-top: 1px solid #f2f2f2;
	padding: 15px 0 20px;
	position: relative;
}

.select-category li:before {
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 30px;
    content: "\f105";
    font-family: 'FontAwesome';
    color: #00a651;	
    opacity: 0;    	
}

.select-category li.active:before,
.select-category li:hover:before {
	opacity: 1;
}

.select-category span.select {
	display:inline-block;
	margin-right:25px;
}

.post-option li:hover a,
.post-option li a:hover, 
.post-option li.active a, 
.post-option li.link-active a {
	color: #00a651;
}

.select-category li a img {
	display: inline-block;
}

.post-option li a {
	font-size: 16px;
	color: #505050;
}

.post-option.next-stap {
	padding:50px;
}

.next-stap h2 {
	font-size: 29px;
	margin-bottom:20px;
}

.next-stap h2 span {
	color: #00a651;
}

.next-stap .btn-section {
	margin:25px 0;
}

.next-stap .btn {
	background-color: #dadada;
	padding: 5px 50px 7px;
	color: #fff;
	border: 1px solid #dadada;
	margin-right: 5px;
}

.next-stap .btn-info {
	background-color: transparent;
	color: #d2d2d2;
}

.next-stap .btn:hover {
	border: 1px solid #00a651;
	background-color: transparent;
}

.next-stap .btn:hover, 
.next-stap .btn-info:hover {
	color: #00a651;
}


  /* ==========================================================================
 	Myads Page
 ========================================================================== */

.myads-page .my-ads {
	background-color: #fff;
	padding:15px 30px;
	border-radius: 4px;
}

.myads-page .my-ads h2 {
	font-weight: 300;
	color: #2a2a2a;
	margin-top: 10px;
	margin-bottom: 30px;
}


  /* ==========================================================================
 	Ad Profile
 ========================================================================== */

.ad-profile {
	background-color: #fff;
	overflow: hidden;
	padding:0;
}

.user-profile {
	overflow: hidden;
	padding: 0 25px;
}

.user-images {
	float: left;
    margin-right: 30px;
    margin-top: 30px;
    border: 1px solid #fcfcfc;
}

.favorites-user {
	float: right;
}

.ad-profile .user {
	float: left;
}

.ad-profile .user h2 {
	font-weight: 300;
	color: #2a2a2a;
	margin-top: 30px;
}

.ad-profile .user h2 a {
	font-weight: 700;
	color: #00a651;
}

.ad-profile .user h5 {
	color: #9fa4a4;
	font-size: 16px;
}

.ad-profile .my-ads,
.ad-profile .favorites {
    float: left;
    padding: 30px 40px;
    text-align: center;
    border-left: 1px solid #f5f5f5;
}

.ad-profile .my3-ads {
	 padding: 30px 55px;
}

.ad-profile .favorites-user small {
	display:block;
	font-size: 16px;
	color: #000;
	line-height: 0;
}

.ad-profile .favorites-user a {
	font-size: 48px;
	color: #00a651;
	display:block;
}

.ad-profile .favorites-user small:hover {
	color: #00a651;
}

.ad-profile .user-menu {
	border-top: 1px solid #f5f5f5;
}

.ad-profile .user-menu li {
	padding: 15px 20px;
	float: left;
	border-left: 1px solid #f5f5f5;
}

.ad-profile .user-menu li a {
	color: #9fa4a4;
	font-size: 16px;
}

.ad-profile .user-menu li.active a,
.ad-profile .user-menu li a:hover {
	color: #00a651;
}

.user-pro-section .section {
	background-color: #fff;
	padding: 15px 35px;
}

.user-pro-section select, 
.user-pro-section input {
	/* color: #a0a0a0; */
	font-size: 16px;
	height:43px;
}

.user-pro-section .form-group {
	overflow:hidden;
	margin-bottom:30px;
}

.user-pro-section label {
	float:left;
	width:25%;
	font-weight:400;
	color:#000;
	font-size:16px;
}
 
.user-pro-section .form-control {
	float:right;
	width:75%;
}

.user-pro-section .preferences-settings label, 
.user-pro-section .preferences-settings .form-control {
	float:none;
	width:100%;
	margin:5px 0;
	font-size:14px;
}

.user-pro-section h2 {
	margin-bottom: 30px;
	font-weight: 300;
	color: #000;
	text-transform:capitalize;
}

.user-pro-section .preferences-settings h2 {
	margin-bottom:15px;
}

.profile a.btn,
.buttons a.btn {
    background-color: #00a651;
    color: #fff;
    padding: 6px 26px 7px;
    border: 1px solid #00a651;	
    margin: 9px 0 0;
    margin-bottom: 30px;
}

.ad-profile-page .buttons a.btn {
	margin-bottom: 0;
}

.profile a.btn.cancle,
.buttons a.btn.cancle {
	background-color: #dbdbdb;
	border: 1px solid #dbdbdb;
	margin-left: 10px;
}

.profile a.btn:hover,
.buttons a.btn:hover {
	background-color: transparent;
	color: #00a651;
	border: 1px solid #00a651;
}


  /* ==========================================================================
 	Delete Page
 ========================================================================== */

.delete-account {
	background-color: #fff;
	border-radius: 4px;
	padding: 48px 0 84px;
}

.delete-account h2,
.delete-account h4 {
	color: #2a2a2a;
	font-weight: 300;
}

.delete-account h4 {
	margin-bottom: 28px;
}

.delete-account .btn {
	background-color: #f26522;
    color: #fff;
    padding: 6px 26px 7px;
    border: 1px solid #f26522;		
}

.delete-account a.btn.cancle:hover,
.delete-account .btn:hover {
	background-color: transparent;
	color: #f26522;
	border: 1px solid #f26522;
}

.delete-account a.btn.cancle {
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb;
    margin-left: 10px;
}

 /* ==========================================================================
 	About Us 
 ========================================================================== */

.breadcrumb-section h2.title {
	margin-top: 0;
	margin-bottom: 32px;
}

.breadcrumb-section .breadcrumb {
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}

.about-us .about {
	padding: 25px 25px 20px;
	background-color: #fff;
	overflow:hidden;
	border-radius: 4px;
}

.about-us h3 {
	color: #000000;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 20px;
}

.about-us-images img {
	width:100%;
}

.about-info {
	margin-bottom:45px;
}

.about-text {
	color: #888888;
}

.approach {
	margin-bottom:15px;
}

.our-approach {
	margin-bottom:30px;
}

.team-section {
	overflow:hidden;
}

.team-members {	
	margin:0 -10px;
}

.team-member {
	width: 20%;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	margin-top:10px;
	margin-bottom:25px;
}


.team-member-image,
.team-member h4,
.team-member .social {
	text-align: center;
}

.team-member-image {
	position: relative;
}

.team-member-image img {
	width:100%;
}

.team-social {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 166, 81, 0.74);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.team-member h4 {
	font-size: 20px;
	font-family: 'Signika Negative', sans-serif;
	color: #000;
	font-weight: 400;
	margin-top: 15px;
}

.team-member .social {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-left: -59px;
	margin-top: -8px;
}

.team-member .social li {
	float: left;
}

.team-member .social li a i {
	font-size: 16px;
	color: #fff;
}

.team-member .social li + li {
	margin-left: 12px;
}

.team-member .social li a i:hover {
	color: #00aeef;
}

.team-member:hover .team-social {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


.testimonials {
	font-family: 'Signika Negative', sans-serif;
	background-color: #fff;
	width: 100%;
	display: inline-block;
	padding: 85px 0;
	margin-bottom:75px;
	border-radius: 4px;
}

.testimonials h3.client-name {
	margin: 19px 0 0 !important;
}

.testimonials h4.client-company {
	margin: 8px 0 27px
}

.client-pragrap {
	font-size: 19px;
	font-style: italic;
}

.testimonials img {
	width: 96px !important;
	height: 96px;
	margin: 0 auto;
	border-radius:50%;
}

 /* =======================================================================
 	FAQ Page
 ========================================================================== */
.faq-page {
	margin-bottom:60px;
}

.faq-page .breadcrumb {
	margin:0;
	padding:0;
}

.faq-page .title {
	margin:0;
}


.faq-page .panel-heading {
	padding: 20px 25px;
	background-color:#fff;
}

.faq-page .panel-heading i:hover {
	color: #00a651;
}

.faq-page .panel-heading .panel-title:hover, 
.faq-page .active-faq.panel-heading .panel-title {
	color: #00a651;
}

 /* ==========================================================================
 	Contact Us
 ========================================================================== */
#main.contact-us {
	padding-bottom:80px;
}

.contact-us h2.title {
	margin-top: 0;
	margin-bottom: 31px;
}

.contact-us ol.breadcrumb {
	margin-bottom: 0;
	margin: 0;
	padding-bottom: 5px;
}

#gmap {
	width: 100%;
	height: 370px;
	margin-bottom:30px;
}

.contact-info {
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    padding: 35px;
    border-radius: 4px;
}

.contact-info h2 {
	color: #000;
	font-weight: 500;
	margin-bottom: 26px;
}

.contact-info address p {
	margin-bottom: 13px;
}

.contact-info address strong  {
	text-transform: capitalize;
}

.contact-info address a {
	color: #000;
}

.contact-info address a:hover  {
	color: #00a651;
}

.contact-info ul.social li {
	float: left;
}

.contact-info ul.social li  a {
 	display: block;
    margin-right: 18px;
}

.contact-info .social i.fa-facebook {
	color: #0072bc;
}

.contact-info .social i.fa-twitter {
	color: #00aeef;
}

.contact-info .social i.fa-google-plus {
	color: #ed1c24;
}

.feedback {
    background-color: #fff;
    color: #000;   
    overflow: hidden;
    padding:35px;
    border-radius: 4px;
}

.feedback h2 {
	color: #000;
	font-weight: 500;
	margin-bottom: 33px;
	margin-left: 12px;
}

.feedback textarea,
.feedback input {
	height: 44px;
	margin-bottom: 11px;
}

.feedback textarea {
	min-height: 100px;
	margin-bottom: 30px;
	font-weight: 300;	
	resize:none;
}

.feedback .form-group {
	margin-bottom: 25px
}

.feedback .btn {
	padding:6px 15px;
	background-color: #00a651;
	color: #fff;
	border: 1px solid #00a651;
}

.feedback .btn:hover {
	background-color: transparent;
	border: 1px solid #00a651;
	color: #00a651;
}

.contact-info, .feedback {
	min-height:482px;
}
 /* ==========================================================================
 	Footer
 ========================================================================== */
#footer {
	border-top:1px solid #efefef;
}
.footer-top {
	padding: 50px 0 57px;
	background-color: #fff;
}

.footer-widget {
	font-size: 16px;
	color: #000;
	line-height: 30px
}

.footer-widget h3 {
	font-weight: 300;
	color: #000;
	line-height: 28px;
	margin-bottom: 45px;
}

.social-widget h3,
.news-widget h3 {
	margin-bottom: 50px;
}

.footer-widget ul li {
	color:#858585;
	font-size: 16px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom:10px;
}

.footer-widget ul li:last-child {
	margin-bottom:0;
}

.footer-widget ul li a {
	color: #858585;
	font-size: 18px;
	line-height: 28px;
    text-transform: capitalize;
    display:block;
}

.social-widget ul li {
	margin-bottom:20px;
}

.social-widget ul li a {
	display:inline-block;
}

.footer-widget ul li a i {
    color: #3b5998;
    font-size: 45px;
    vertical-align: middle;
    margin-right: 15px;
}

.footer-widget ul li.active a,
.footer-widget ul li a:hover {
	color: #000;
}

.social-widget .fa-twitter-square{
	color: #76c0f3;
}

.social-widget .fa-google-plus-square {
	color: #282725;
}

.social-widget .fa-youtube-play {
	color: #c1272d;
}

.footer-widget input {
	width: 100%;
	height: 44px;
	border: 1px solid #e3e3e3;
}

.footer-widget input[type="email"] {
	margin:20px 0;
	font-weight: 300;
	font-size: 16px;
}

.footer-widget .btn.btn-primary {
	font-size:14px;
	padding: 6px 25px 8px;
}


.footer-widget .form-control::-webkit-input-placeholder { 
  color: #cfcfcf;  
}
.footer-widget .form-control::-moz-placeholder { 
  color: #cfcfcf;  
}
.footer-widget .form-control:-ms-input-placeholder { 
  color: #cfcfcf;  
}
.footer-widget .form-control:-moz-placeholder { 
  color: #cfcfcf;  
}

.footer-widget.news-letter{
	font-size: 16px;
	line-height: 22px;
	font-weight:300;
}

.footer-bottom {
 	background-color: #f7f7f7;
 	color: #6e6e6e;
 	font-size: 14px;
 	padding: 19px 0 12px;
 	font-weight: 300;
}

.footer-bottom a {
  	color: #6e6e6e;
}

.footer-bottom a:hover {
  	color: #00a651;
  	text-decoration: underline;
}


/* ==========================================================================
 	New Page
========================================================================== */

.home-banner {
 	background-image: url(../images/bg/car1.jpg);
 	background-size: cover;
 	position: relative;
 	color: #fff;
 	padding-top: 90px;
 	padding-bottom: 80px;
}

.banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(37, 34, 34, 0.6);
}

.home-banner .car-info {
	margin-top: 105px;
}

.car-info .socail li+li {
	margin-left: 10px;
}

.car-info .socail li a i {
	color: #fff;
	font-size: 20px;
}

.car-info .socail li a i:hover {
	color: #00a651;
}

.home-banner h1 {
	font-size: 62px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px; 
}

.home-banner h2 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 15px;
}

.home-banner h2 span {
	font-weight: 700;
}

.home-banner .btn.btn-primary {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    margin-top: 15px;
}

.home-banner .contact-form {
	color: #000;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.home-banner .contact-info {
	padding: 25px;
	padding-top: 20px;
	padding-bottom: 40px;
	min-height: inherit;
}

.home-banner .contact-form h1 {
	font-size: 20px;
	font-weight: 400;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 15px;
	margin: 0;
	background-color: #f7f7f7;
	text-transform: capitalize;
	border-bottom: 1px solid #ececec;
}

.home-banner .contact-form h3 {
	margin-top: 0;
	font-size: 16px;
}

.home-banner .dropdown.category-dropdown {
	border: 1px solid #f7f7f7;
	margin-bottom: 20px;
	min-width: 100%;
}

.home-banner .dropdown .dropdown-menu {
	width: 100%;
	border: 1px solid #f7f7f7;
	padding-top: 10px;
	padding-bottom: 10px;
}

.home-banner .dropdown.category-dropdown a {
	font-size: 16px;
	color: #a4a4a4;
	display: block;
	font-family: 'MyriadPro-Regular', sans-serif;
}

.home-banner .dropdown.category-dropdown a:hover,
.home-banner .dropdown.category-dropdown a:hover i {
	color: #00a651;
}

.home-banner .dropdown.category-dropdown a i {
	color: #000;
}

.home-banner .contact-form i {
	float: right;
	margin-top: 15px;

}

.home-banner .contact-form .form-control {
	width: 90px;
	height: 35px;
	float: right;
	color: #fff;
	margin-top: 20px;	
	border: 1px solid #00a651;
	background-color: #00a651;
}

.home-banner .contact-form .form-control:hover {
	color: #00a651;
	background-color: transparent;
}


/* Category Section */

.page {
	background-color: #f7f7f7;
	padding-bottom: 70px;
}

.page .section-title {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 5px;
	overflow: hidden;
}

.category-section .section-title h4 {
	float: left;
}

.category-section .section-title h5 {
	float: right;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}

.category-section {
	background-color: #fff;
	padding: 0 30px;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.cars-category {
	padding-left: 20px;
	overflow: hidden;
}

.category-menu {
	margin-top: 25px;
	width: 16.6%;
	float: left;
}

.category-menu li {
	margin-bottom: 25px;
}

.category-menu li a {
	color: #000;
	font-size: 14px;
}

.category-menu li a:hover {
	color: #00a651;
}

.section.cars-ads {
	margin-bottom: 25px;
}

.section.cars-ads .ad-info {
	padding: 0;
	padding-top: 20px;
}

.trending-ads.cars-ads .item-image {
	max-width: 230px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.cars-ads-box {
	position: relative;
	min-height: 150px;
}

.section.cars-ads .car-info {
	color: #000;
	font-size: 14px;
	float: left;
	padding-top: 20px;
}

.section.cars-ads .car-info+.car-info {
	margin-left: 50px;
}

.section.cars-ads .ad-meta {
	width: 135%;
}

.section.cars-ads .item-title {
	margin-bottom: 10px;
}

.section.cars-ads .car-info i {
	color: #a4a9a9;
	margin-right: 10px;
}

.section.cars-ads .car-info li {
	margin-bottom: 5px;
}

#download.car-app-store {
	background-image: url(../images/bg/car2.jpg);
}

#download.car-app-store.parallax-section:before {
	opacity: .9;
}

/* ==========================================================================
 	Car Two Home Banner
========================================================================== */

.home-banner.banner {
 	background-image: url(../images/bg/car3.jpg);
 	padding: 125px 0;
}

.home-banner.slide-1 {
	background-image: url(../images/bg/car2.jpg);
}


.home-banner.slide-2 {
	background-image: url(../images/bg/car1.jpg);
}

.home-banner.banner .car-info {
	margin-top: 0;
}

.home-banner .car-info-box {
	background-color: rgba(2, 2, 2, 0.6);
	padding:0 40px;
	padding-top: 55px;
	padding-bottom: 50px;
	max-width: 620px;
}

/* ==========================================================================
 	Upcoming Section
========================================================================== */

.upcoming-section {
	color: #fff;
	padding-top: 175px;
	padding-bottom: 165px;
	text-align: center;
	position: relative;
	background-size: cover;
	z-index: 1;
	background-image: url(../images/bg/coming-soon.jpg);
}

.upcoming-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.logo-intro img {
	display: inline-block;
}

.upcoming-section h1 {
	font-size: 48px;
	font-weight: 300;
	margin-top: 50px;
}

.upcoming-section h2 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 15px;
}

#countdown {
	margin-top: 35px;
    margin-bottom: 50px;
}

#countdown li {
  display: inline-block;
  color: #fff;
  width: 100px;
  font-size: 18px;
  text-transform: capitalize;
}

#countdown li p {
    line-height: 0;
}

#countdown li+li {
  margin-left: 75px;
}

#countdown li span {
  font-size: 72px;
  font-weight: 700;
  color: #39b54a;
  line-height: 110px;
}

.upcoming-section .socail li+li {
	margin-left: 15px;
}

.upcoming-section .socail a {
	font-size: 18px;
	color: #fff;
}

.upcoming-section .socail a:hover {
	color: #00bff3;
}

/* about-trade */

.about-trade {
	padding-top: 125px;
	padding-bottom: 70px;
	background-color: #f7f7f7;
}

.about-trade .about-title {
	margin-bottom: 75px;
}

.about-trade h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 300;
	color: #000;
}

.about-trade h1 span {
	font-weight: 500;
}

.about-trade .about {
	font-size: 16px;
	line-height: 26px;
	color: #000;
}

.about-trade .about-info {
	font-size: 22px;
	line-height: 30px;
	color: #000;
	margin-top: 65px;
}

.about-trade .about-info a {
	margin-top: 5px;
	display: inline-block;
}

.col-to-action {
	text-align: center;
	background-image: url(../images/bg/col-to-action.jpg);
	z-index: 1;
	color: #fff;
	font-size: 18px;
	padding-top: 70px;
	padding-bottom: 100px;
}

.col-to-action h1 {
	font-weight: 400;
}

.col-to-action.parallax-section:before {
	background-color: rgba(57, 181, 74, 0.9);
	z-index: -1;
}

.col-to-action .contact	{
	overflow: hidden;
}

.col-to-action .contact-form {
	position: relative;
}

.col-to-action .form-control {
	background-color: transparent;
	border: 1px solid #3a9243;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
	padding-right: 40px;
	height: 60px;
	line-height: 60px;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.06);
}

.col-to-action .form-control:focus {
	border-color: #fff;
	box-shadow: none;
}

.col-to-action .btn {
	position: absolute;
	right: 5px;
	top: 7px;
	font-size: 24px;
	background-color: transparent;
}

.col-to-action .btn:hover {
	color: rgba(0, 0, 0, 0.6);
}

.col-to-action .form-control::-webkit-input-placeholder {
   color: #fff;
}

.col-to-action .form-control:-moz-placeholder {
   color: #fff;  
}

.col-to-action .form-control::-moz-placeholder {
   color: #fff;  
}

.col-to-action .form-control:-ms-input-placeholder {  
   color: #fff;  
}

/* Contac Section */

.contac-section {
	padding: 80px 0;
}

.contac-section h1 {
	font-size: 48px;
	font-weight: 300;
	color: #000;
	margin-bottom: 50px;
	text-align: center;
}

.contac-section .touch-content {

}

.contac-section .form-control {
	height: 60px;
	line-height: 60px;
	border: 1px solid #c6c6c6;
	font-size: 16px;
	font-weight: 300;
	color: #9c9c9c;
	margin-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.contac-section textarea.form-control {
	height: 230px;
}

.contac-section .form-control::-webkit-input-placeholder {
   color: #9c9c9c;
}

.contac-section .form-control:-moz-placeholder {
   color: #9c9c9c;  
}

.contac-section .form-control::-moz-placeholder {
   color: #9c9c9c;  
}

.contac-section .form-control:-ms-input-placeholder {  
   color: #9c9c9c;  
}

.contac-section .btn.btn-primary {
	margin-top: 5px;
	padding: 5px 20px;
}

/* ==========================================================================
 	Pricing Section
========================================================================== */

.pricing-section .pric {
	background-color: #fff;
	padding: 0 30px;
	color: #000;
	padding-top: 25px;
	border-radius: 4px;
	padding-bottom: 45px;
	margin-bottom: 15px;
}

.pricing-section .pric h2 {
	font-size: 20px;
	margin-bottom: 0;
}

.pricing-section .pric h3 {
	font-size: 72px;
	font-weight: 300;
	margin-top: 0;
	line-height: 90px;
}

.pricing-section .pric h3 sup {
	font-size: 30px;
	font-weight: 500;
	top: -25px;
}

.pricing-section .pric h3 span {
	font-size: 14px;
	font-weight: 400;
}

.pricing-section .pric li {
	margin-bottom: 20px;
	font-size: 14px;
}

.pricing-section .pric li i {
	margin-right: 20px;
}

.pricing-section .pric li i.fa-check {
	color: #00a651;
}

.pricing-section .pric li i.fa-times {
	color: #cfcfcf;
}

.pricing-section .pric-menu {
	margin-top: 25px;
}

.pricing-section .btn.btn-primary {
	padding: 5px 15px;
	margin-top: 30px;
	font-size: 14px;

}

.pricing-section .pric.active {
	position: relative;
	overflow: hidden;
}

.pricing-section .pric .popular {
	position: absolute;
	top: 10px;
	right: -65px;
}

.pricing-section .pric .popular h2 {
	font-size: 14px;
	background-color: #00a651;
	padding: 10px 80px;
	color: #fff;
	-webkit-transform:rotate(40deg) ;
	-moz-transform:rotate(40deg) ;
	-ms-transform:rotate(40deg) ;
	-o-transform:rotate(40deg) ;
	transform:rotate(40deg) ;
}

/* ==========================================================================
 	Found Section
========================================================================== */

.found-section {
	color: #b0b0b0;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 65px;
	padding-bottom: 105px;
}

.found-section h1 {
	font-size: 112px;
	color: #00a651;
	font-weight: 700;
	margin-bottom: 0;
}

.found-section h2 {
	color: #000;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
}

.found-section .btn.btn-primary {
	padding: 6px 30px;
	font-size: 14px;
	margin-top: 30px;
}

/* Directory Page */

.directory.page {
	padding-bottom: 40px;
}

.explore-nearby .featured-top h4 {
	color: #000;
	font-weight: 500;
}

.explore-nearby .ad-info {
	padding: 20px 10px;
}

.explore-nearby .rating ul {
	display: block;
}

.explore-nearby .rating ul li {
	display: inline;	
	color: #fc0;
}

.explore-nearby .ad-info h4 {
	font-size: 20px;
	color: #000;
	margin-bottom: 5px;
}

.explore-nearby .ad-info h4 a {
	color: #a0a0a0;
}

.explore-nearby .item-cat {
	margin-bottom: 10px;
}

.explore-nearby .ad-info address {
	color: #a0a0a0;
	line-height: 22px;
	margin-bottom: 0;
}

.explore-nearby {
	padding-bottom: 55px;
}

.browse-categories {
	padding: 15px 30px;
}

.browse-categories .section-title {
	margin-bottom: 15px;
}

.featured-image img {
	width: 100%;
}


  /* ==========================================================================
 	Extra
 ========================================================================== */

#scrollUp {
    background-image: url("../images/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    text-indent: -9999px;
}


input, select, a, .transition,
.footer-widget input, 
.favorites-user small, 
.feedback input[type="submit"], 
.select-category li:before,
.team-social, .social-widget a,
.banner-form input[type="submit"],
.category-title, .category-icon img, 
.category-quantity,
.owl-next, .owl-prev,
.home-banner .contact-form .form-control,
.col-to-action .btn, .see-more button,
.post-resume .upload-image {
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}


 /* ==========================================================================
 	Custom Fonts
 ========================================================================== */

@font-face {
    font-family: 'MyriadPro-Regular', sans-serif;
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('fonts/MyriadPro-Regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Devanagari-Regular', sans-serif;
    src: url('fonts/devanagari-normal-webfont.eot');
    src: url('fonts/devanagari-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/devanagari-normal-webfont.woff2') format('woff2'),
         url('fonts/devanagari-normal-webfont.woff') format('woff'),
         url('fonts/devanagari-normal-webfont.ttf') format('truetype'),
         url('fonts/devanagari-normal-webfont.svg#devanagarinormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*========================
=======style-chooser======
==========================*/

.style-chooser {
	width: 140px;
	left: -140px;
	position: fixed;
	top: 50%;
	margin-top:-121px;
	z-index: 99999;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.style-chooser.opened {
	left: 0;
}

.style-chooser .toggler {
	position: absolute;
	top: 0;
	right: -48px;
	display: inline-block;
	background-color: #ddd;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 24px;
	color: #333;
}

.style-chooser-inner {
	position: relative;
	background-color: #ddd;
	padding: 15px;
}

.style-chooser-inner h4 {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-size: 13px;
}

.style-chooser-inner ul {
	list-style: none;
	padding: 0;
	margin: -5px;
}

.style-chooser-inner ul li {
	display: block;
	width: 58px;
	float: left;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.style-chooser-inner ul li a {
	display: block;
	height: 40px;
}

.style-chooser-inner ul li.preset1 a {
	background-color: #00a651;
}

.style-chooser-inner ul li.preset2 a {
	background-color: #f26522;
}

.style-chooser-inner ul li.preset3 a {
	background-color: #0054a6;
}

.style-chooser-inner ul li.preset4 a {
  background: #662d91;
}
